<form action="#/forgotPassword" method="post" class="form-reset">
    <input type="email" name="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    <a href="#/home" id="cancel_reset"><i class="fa fa-angle-left"></i> Back</a>
</form>