<header class="main-header">
    <a href="#/homePage" class="logo">
        <span class="logo-mini"><b>W</b>A</span>
        <span class="logo-lg"><b>Watch</b>App</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#/homePage" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
    </nav>
</header>