.list-watch {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.list-watch li,
.list-watch span {
    display: block;
}

.list-watch li {
    list-style: none outside;
    flex: 0 0 46%;
    text-align: center;
    padding: 2rem;
}

@media screen and (min-width: 800px){
    .list-watch li {
        flex: 0 0 28%;
    }
}

.list-watch .watch-image {
    width: 20rem;
    position: relative;
    overflow: hidden;
    margin: 1rem auto;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.4);
}

.list-watch .watch-image:before,
.list-watch .watch-image:after {
    display: block;
    content: '';
}

.list-watch .watch-image:before {
    padding-top: 100%;
}

.list-watch .watch-image:after {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) inset;
}

.list-watch .watch-image img {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
}

.list-watch .content > *:first-child {
    margin: 1rem 0;
}

.list-watch .watch-info {
    font-size: 2rem;
}

.list-watch .watch-info .brand {
    font-weight: bold;
}

.list-watch li.item span.content {
    min-height: 0 ;
}

.title {
    text-align: center;

}

.title h2 {
    font-weight: bold;
    font-size: 4rem;
}

.title h2:after {
    display: block;
    content: '';
    border-bottom: 1px solid #CCC;
    width: 30rem;
    margin: 1rem auto;
}

li.item,
li.item .content {
    padding: 1rem 0;
}

li.item div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


